body {
  font-family: sans-serif;
  font-weight: bold;
  color: #DDDDDD;
  background-color: #090B46;
}

.canvas {
  width: 400px;
  height: 200px;
  margin-bottom: 32px;
  margin-top: 8px;
  background-color: #9458DF;
  border-radius: 4px;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out;
}

#newDiv {
  background-color: #E38FF8;
  width: 800px;
  height: 400px;
}

.input,
select {
  padding: 8px;
  border-radius: 4px;
  background-color: #cecece;
  border: 1px solid #696969;
  color: #333333;
  outline: none;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 1em;
}

pre,
select {
  margin: 0 0 2em 44px;
}

.input {
  margin: 2px;
  display: inline-block;
}

input {
  width: 4em;
}

select:focus,
  .input:focus {
  background-color: #ffffff;
  border: 1px solid #55b5db;
  color: #000000;
}

.input br {
  display: none;
}

h1 {
  font-family: 'Sansita Swashed', cursive;
  font-size: 4em;
  margin-bottom: 0.25em;
  margin-top: 0.5em;
  margin-left: 44px;
  width: fit-content;
}

.zoomDiv {
  margin-left: 44px;
  user-select: none;
}

button {
  width: 48px;
  height: 48px;
  border-radius: 999px;
  outline: none;
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5em;
}

button.secondary {
  background-color: #9458DF;
  border-color: transparent;
  color: #090B46;
}

button:hover {
  opacity: 0.7;
}

button:focus {
  opacity: 1;
}

button:active {
  opacity: 1;
  color: #090B46;
  background-color: #ffffff;
}

button.selected {
  pointer-events: none;
  opacity: 1;
  color: #090B46;
  background-color: #ffffff;
}

.zoomButton::after {
  content: '%';
}

.wrapper {
  position: relative;
  margin-left: 44px;
  width: calc(100% - 44px);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.wrapper .innerDiv {
  margin-right: 40px;
}

.areaDiv {
  padding: 8px;
  border-bottom: 2px solid #9458DF;
}

.wrap {
  flex-wrap: wrap;
  max-width: 260px;
  justify-content: center;
  flex-direction: row-reverse;
  padding-bottom: 24px;
}

#result {
  width: 260px;
  height: fit-content;
  white-space: pre;
  font-size: 2em;
  text-align: right;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  overflow: auto;
}

#result:empty::after {
  content: '0';
}

.areaDiv:nth-of-type(2) {
  border-color: #E38FF8;
}

.backDiv,
.backDiv::before,
  .backDiv::after {
  position: absolute;
  width: 21vmin;
  height: 21vmin;
  bottom: 6vmin;
  right: 6vmin;
  background-color: #090B46;
  border: 1px solid #DDDDDD;
}

.backDiv::before {
  content: '';
  width: 18vmin;
  height: 18vmin;
  bottom: 7vmin;
  right: 7vmin;
}

.backDiv::after {
  content: '';
  width: 14vmin;
  height: 14vmin;
  bottom: 14vmin;
  right: 14vmin;
}

.gitLogo {
  position: absolute;
  right: 0;
  top: 0;
  margin: 44px;
  cursor: pointer;
  width: 64px;
  height: 64px;
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#output {
  position: relative;
}

#output::after {
  content: '(' attr(var) ')';
  position: absolute;
  right: -2.5rem;
  color: white;
  opacity: .4;
}

.flex {
  display: flex;
  gap: 20px;
  margin: 0;
}

.container {
  width: calc(33vw - 20px);
  height: 100vh;
}

.container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

body {
  margin: 0;
  overflow: hidden;
}

nav {
  display: none;
  position: fixed;
  top: 0;
  width: calc(100% - 48px);
  z-index: 100;
  background-color: #090B46;
  padding: 24px;
  gap: 60px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

h1 {
  margin-top: 0;
}

@media screen and (max-width:900px) {
  h1 {
    margin-left: 0;
    margin-bottom: 0.25em;
    margin-top: 0;
    font-size: 3em;
  }
  
  .wrapper {
    margin-left: 0;
    max-width: unset;
    width: 90vw;
    justify-content: space-between;
  }
  
  pre,
  select,
  .zoomDiv {
    display: none;
  }
  
  .innerDiv {
    min-width: 94vw;
  }
  
  .canvas {
    max-width: 94vw;
    width: 94vw;
    height: 47vw;
  }
  
  #newDiv {
    width: 94vw;
    height: 47vw;
  }
  
  .backDiv {
    display: none;
  }
  
  input {
    width: 3em !important;
  }
}

@media screen and (max-width:500px) {
  div.container {
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  
  h1 {
    margin-top: 30px;
  }
  
  nav {
    display: flex;
  }
  
  .container {
    width: 100vw;
  }
  
  body {
    margin: 0;
    padding: 16px;
  }
  
  .flex {
    flex-direction: column;
  }
  
  .gitLogo {
    width: 10vmin;
    height: 10vmin;
    margin: 80px !important;
  }
}